
@import './utils/fonts';
@import './utils/variables';
@import './base';
@import './utils/utils';


.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

@import './components/buttons';
@import './components/links';
@import './layout/header';
@import './layout/hero-section';
@import './layout/advantages-section';
@import './layout/traditions-section';
@import './layout/chefs-section';
@import './layout/formats-section';
@import './components/carousel';
@import './layout/contacts-section';
@import './layout/footer-section';
@import './components/modal';
@import './layout/forms';
